<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- 
	This file is used to override the provisioning profile settings in Xcode. Make
	sure to update the value of the provisioningProfiles key with the name of the
	profile you want to use when developing locally.
-->

<plist version="1.0">
	<dict>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.ncalteen.flutterFastlaneDemo</key>
			<string>match AppStore com.ncalteen.flutterFastlaneDemo</string>
		</dict>
	</dict>
</plist>